@{
    //用于主页面的布局

    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link href="~/res/plugins/layui/css/layui.css" rel="stylesheet" />
    <link href="/res/admin/styles/font.css" rel="stylesheet" />
    <link href="/res/admin/styles/weadmin.css" rel="stylesheet" />
    <script src="/res/plugins/layui/layui.js"></script>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @RenderSection("styles", required: false)
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="weadmin-nav">
        <span class="layui-breadcrumb">
            <a>首页</a>
            <a>@ViewBag.Module</a>
            <a><cite>@ViewBag.Title</cite></a>
        </span>
        <a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">&#x1002;</i>
        </a>
    </div>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
